* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(234, 161, 30, 0.2);
    color: #342112;
}

.logo {
    width: 70px;
    height: auto;
}

.top {
    background-color: #342112;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quote {
    background-color: rgb(234, 161, 30, 0.2);
    display: flex;
    justify-content: center;
}

.q {
    margin-top: 20px;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-end;
    font-size: 48px;
}

.panel {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: #fdfc6e;
    gap: 20px;
}

.epic {
    width: 600px;
    height: auto;
}

.container {
    width: 70vw;
    background-color: #342112;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 90px;
    flex-wrap: wrap;
}

.txt {
    max-width: 400px;
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;

}

ul, .txt > p, h1 {
    color: #fdfc6e;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px rgb(255, 255, 91);
    }
    to {
      text-shadow: 0 0 4px rgb(255, 255, 91);
    }
}

h2 {
    text-align: center;
    margin: 30px;
}

.pic > img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
}

.pics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: center;
}
